<table>
  <thead>
   <tr>
    <th colspan="4"><%= @cat.name %>
    </th>
   </tr>
  </thead>
    <tbody>
      <tr>
        <td>Birth_Date</td>
        <td>Color</td>
        <td>Sex</td>
        <td>Description</td>
      </tr>
      <tr>
        <td><%=@cat.birth_date%></td>
        <td><%=@cat.color%></td>
        <td><%=@cat.sex%></td>
        <td><%=@cat.description%></td>
      </tr>
    </tbody>
</table>